* , 
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

label {
  font-size: 20px;
}

html,
body{
  height: 100%;
  will-change: 100%;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Container{
  background-color: white;
  padding: 32px 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66,68, 90, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Container > h1 {
  margin-bottom: 20px;
}
.Container > form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap:10px
}

.Container input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.Container input::placeholder{
  font-size: 12px;
  font-style: inherit;
}

button{
  background-color: purple;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
}